[[source]]
url = "http://binario.caixa:8081/repository/pypi-repo/simple"
verify_ssl = false
name = "pypi"

[packages]
django = "==2.1"
pytz = "==2018.5"

[dev-packages]

[requires]
python_version = "3.6"
